/* AGGIUNGO IL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  /* VISUALIZZAZIONE LG */

  /* COMMON */
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .container.grey {
    background-color: #f9f9f9;
  }
  
  img {
    height: 200px;
  }
  
  .clear {
    clear: both;
  }
  
  .row {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  /* BLOCCO LEZIONI */
  #lezioni {
    text-align: center;
  }
  
  #lezioni .row img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* BLOCCO STEPS */
  #steps {
    text-align: center;
  }
 
  /* BLOCCO PERCHE */
  #why {
    text-align: center;
  }
  
  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px
  }
  
  
  /* INIZIO A SOVRASCRIVERE I CSS PER LA VISUALIZZAZIONE XS*/
  
  @media screen and (max-width: 767px) {
    .row {
      width: 100%;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    img {
      width: 25%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    #lezioni, #why {
      background-color: #F2F2CD;
    }
  }
  
  @media screen and (max-width: 767px) {
    #lezioni, #steps, #why {
      margin: 0;
      padding-top: 10px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    #why .row img {
      margin: 0;
      padding: 10px;
    }
  }
